.additional-goods-catalog-promo-container {
  max-width: 1440px;
  margin: 0 auto;

  &::before {
    content: "";
    height: 2px;
    background-color: $basic-green;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    margin-top: 15px;

    @media (min-width: $tablet-width) {
      margin-top: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 90px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 85px;
  }
}
