.additional-goods-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-only) {
    margin-bottom: 39px;
  }
}

.additional-goods-list__item:last-child .product-card-additional {
  border-bottom: 1px solid $special-grey;
}
