.button {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: $white;
  padding: 15px 44px 15px 44px;
  background-color: $basic-green;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
}
