.catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  border-bottom: 1px solid $special-grey-2;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    padding-top: 59px;
    padding-bottom: 165px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-top: 68px;
    padding-bottom: 169px;
  }
}
