.catalog-promo-block-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}
