.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright-link__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.copyright:hover svg {
  fill: $basic-green;
}

.copyright-link:focus svg {
  fill: $basic-green;
}

.copyright-link:active {
  opacity: 0.3;
}
