.demonstration-controls {
  margin: 0 auto;
  display: flex;
  width: 230px;
  justify-content: space-around;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    width: 570px;
  }
}

.demonstration-controls__label-left,
.demonstration-controls__label-right {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  border: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
    border-bottom: 1px dotted $special-grey-3;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  :focus {
    border-bottom: 1px solid $special-grey;
  }
}

.demonstration-controls__bar {
  background-color: $white;
  align-self: center;
  border: 1px solid $special-grey;
  border-radius: 6px;
  height: 14px;
  width: 84px;
  display: flex;
  justify-content: start;
  padding: 3px 5px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 428px;
    border: none;
    background-color: $special-grey-control-bar;
    height: 6px;
    position: relative;
  }
}

.demonstration-controls__progress-bar {
  background-color: $basic-green;
  height: 6px;
  border-radius: 3px;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 6px;
    border: 12px solid $white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 50%;
    box-shadow: 0 0 0 1px $special-grey-2, 0 1px 3px $drop-shadow-control;
    filter: drop-shadow(0 1px 3px $drop-shadow-control);

    &:hover {
      filter: drop-shadow(0 2px 4px $drop-shadow-control-hover);
    }

    &:focus {
      filter: drop-shadow(0 2px 4px $drop-shadow-control-hover);
    }

    &:active {
      box-shadow: 0 0 0 1px $basic-green;
      filter: drop-shadow(0 3px 5px $drop-shadow-control-active);
    }
  }
}
