.food-options-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.food-options-list__item {
  background-color: $basic-grey;
  padding: 30px 33px 22px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 279px 57px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 51px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}

.food-options-list__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding: 0;
  padding-left: 71px;
  margin-bottom: 29px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.food-options-list__item:nth-child(1) .food-options-list__item-title::before {
  left: 0;
  top: -10px;
  width: 50px;
  height: 53px;
  background: url("../img/slimming.svg") no-repeat center center;

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    background-size: cover;
    top: -35px;
  }
}

.food-options-list__item:nth-child(2) .food-options-list__item-title::before {
  left: -8px;
  top: -10px;
  width: 67px;
  height: 50px;
  background: url("../img/weight-gain.svg") no-repeat center center;

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    background-size: cover;
    top: -35px;
  }
}

.food-options-list__item-text {
  border-bottom: 1px solid $border-grey;
  padding-bottom: 23px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .food-options-list__item-text {
    position: relative;
  }

  .food-options-list__item-text::after {
    content: "";
    display: inline-block;
    position: absolute;
  }

  .food-options-list__item:nth-child(1) .food-options-list__item-text::after {
    right: -217px;
    top: -50px;
    width: 200px;
    height: 211px;
    background: url("../img/slimming.svg") no-repeat center center;
    background-size: cover;
  }

  .food-options-list__item:nth-child(2) .food-options-list__item-text::after {
    right: -260px;
    top: -50px;
    width: 268px;
    height: 200px;
    background: url("../img/weight-gain.svg") no-repeat center center;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .food-options-list__item:nth-child(1) .food-options-list__item-text::after {
    display: none;
  }

  .food-options-list__item:nth-child(2) .food-options-list__item-text::after {
    display: none;
  }
}

.food-options-list__item-link {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  position: relative;

  &:hover {
    &::after {
      width: 32px;
      right: -53px;
    }
  }

  &:focus {
    &::after {
      width: 32px;
      right: -53px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.food-options-list__item-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 10px;
  top: 7px;
<<<<<<< HEAD
  right: -47px;
  background: url("../img/black-arrow.svg") no-repeat center center;
=======
  right: -45px;
  // border: 1px solid red;
  background: url("../../img/black-arrow.svg") no-repeat center right;
>>>>>>> a54c0b3 (Декоративные элементы главной страницы)
}
