@media (min-width: $tablet-width) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: -7px;
    background-color: $basic-grey;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}
