.form-contact-details {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  padding-top: 26px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.form-contact-details .container {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 64px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form-contact-detail__title {
  padding: 0;
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 206px;
  padding-left: 20px;
  margin-bottom: 35px;
  position: relative;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 20px;
    left: 0;
    background: $basic-green;
    width: 100vw;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 76px;

    &::after {
      left: -5%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;

    &::after {
      left: -12%;
    }
  }
}

.form-contact-detail-label {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 45%;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 33px;
    width: 20px;
    height: 20px;

    @media (min-width: $tablet-width) {
      right: 80px;
    }

    @media (min-width: $desktop-width) {
      right: 80px;
    }
  }

  &:first-child::after {
    background: url("../img/icon-email.svg") no-repeat center center;

    @media (min-width: $desktop-width) {
      right: 800px;
    }
  }

  &:nth-child(2)::after {
    background: url("../img/icon-phone.svg") no-repeat center center;

    @media (min-width: $desktop-width) {
      right: 125px;
    }
  }
}

.form-contact-detail-input {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
  box-sizing: border-box;
  border: 1px solid $special-grey-border;
  padding: 13px 14px;
  padding-right: 40px;
  margin-left: 8px;
  flex-basis: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
