.form-general {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-label {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 56px;
  }
}

.form-label:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.form-input {
  border: 1px solid $special-grey-border;
  box-sizing: border-box;
  padding: 13px 14px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin-left: 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 15px 20px;
  }
}

.form-input::placeholder {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
