.form-additionally {
  border: none;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $basic-green;
    width: 100%;
    margin-top: -217px;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      margin-top: -183px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -125px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form-additionally__title {
  padding: 0;
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 141px;
  margin-bottom: 35px;
  position: relative;
  background-color: $white;
  padding-left: 20px;
  margin-left: -20px;
  padding-right: 20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 211px;
    margin-bottom: 57px;
    padding-left: 40px;
    margin-left: -40px;
    padding-right: 40px;
    margin-right: -40px;
  }
}

.form-additionally-label {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid $special-grey;
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    &::before {
      border-color: $special-grey-4;
    }
  }
}

.form-additionally-input:checked + .form-additionally-label::before {
  background: url("../img/tick.svg") no-repeat center center;
}

.form-additionally-input:focus + .form-additionally-label::before {
  outline: 1px solid $special-dark-grey;
}

.form-additionally-input:disabled + .form-additionally-label {
  opacity: 0.3;
}
