.form-contact-details {
  border: none;
  padding: 0;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $basic-green;
    width: 100%;
    margin-top: -187px;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      margin-top: -225px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -147px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form-contact-detail__title {
  padding: 0;
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 206px;
  margin-bottom: 35px;
  position: relative;
  background-color: $white;
  padding-left: 20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    margin-bottom: 76px;
    margin-left: -40px;
    padding-left: 40px;
    margin-right: -40px;
    padding-right: 40px;
  }
}

.form-contact-detail-label {
  position: relative;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 45%;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form-contact-detail-input {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
  box-sizing: border-box;
  border: 1px solid $special-grey-border;
  padding: 13px 14px;
  padding-right: 40px;
  margin-left: 8px;
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form-contact-detail-label svg {
  width: 20px;
  height: 20px;
  transform: scale(1.4);
  position: absolute;
  right: 20px;

  @media (max-width: $mobile-only) {
    transform: scale(1);
  }
}

.form-contact-detail__email-input:focus + svg {
  stroke: $basic-green;
}

.form-contact-detail__phone-input:focus + svg {
  fill: $basic-green;
}

.form-contact-detail__email-input--input-error + svg {
  stroke: $status-error;
}

.form-contact-detail__phone-input--input-error + svg {
  fill: $status-error;
}
