.form-contact-details {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  padding-top: 26px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.form-contact-details .container {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 64px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
}

.form-contact-detail__title {
  padding: 0;
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 206px;
  padding-left: 20px;
  margin-bottom: 35px;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 0;
  }
}

.form-contact-detail-label {
  position: relative;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 45%;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &:nth-child(2)::after {
    background: url("../img/icon-phone.svg") no-repeat center center;

    @media (min-width: $desktop-width) {
      right: 125px;
    }
  }
}

.form-contact-detail-input {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
  box-sizing: border-box;
  border: 1px solid $special-grey-border;
  padding: 13px 14px;
  padding-right: 40px;
  margin-left: 8px;
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form-contact-detail-label svg {
  width: 20px;
  height: 20px;
  transform: scale(1.4);
  position: absolute;
  right: 20px;

  @media (max-width: $mobile-only) {
    transform: scale(1);
  }
}

.form-contact-detail-input:focus + svg {
  & line {
    stroke: $basic-green;
  }

  & path {
    stroke: $basic-green;
  }
}

.form-contact-detail__phone-input:focus + svg {
  & path {
    fill: $basic-green;
    stroke: none;
  }
}

.input-error + svg {
  & line {
    stroke: $status-error;
  }

  & path {
    stroke: $status-error;
  }
}

.form-contact-detail__phone-input.input-error + svg {
  & path {
    fill: $status-error;
    stroke: none;
  }
}
