.form-additionally {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.form-additionally .container {
  @media (min-width: $tablet-width) {
    margin-left: 70px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.form-additionally__title {
  padding: 0;
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 141px;
  padding-left: 20px;
  padding-right: 23px;
  margin-bottom: 35px;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    padding-left: 40px;
    width: 211px;
    padding-right: 40px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.form-additionally-label {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid $special-grey;
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    &::before {
      border-color: $special-grey-4;
    }
  }
}

.form-additionally-input:checked + .form-additionally-label::before {
  background: url("../img/tick.svg") no-repeat center center;
}

.form-additionally-input:disabled + .form-additionally-label {
  opacity: 0.3;
}
