.form-general-radio-container {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    margin-bottom: 70px;
  }
}
