.form-comment {
  border: none;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
  margin-bottom: 3px;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $basic-green;
    width: 100%;
    margin-top: -50px;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      margin-top: -95px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form-comment__title {
  padding: 0;
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin-bottom: 35px;
  position: relative;
  background-color: $white;
  padding-left: 20px;
  margin-left: -20px;
  padding-right: 20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 182px;
    padding-left: 40px;
    margin-left: -40px;
    padding-right: 40px;
    margin-right: -40px;
    margin-bottom: 75px;
  }
}

.form-comment__input {
  box-sizing: border-box;
  padding: 8px 13px;
  border: 1px solid $special-grey-border;
  width: 100%;
  height: 150px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  resize: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
    height: 170px;
    padding: 6px 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &::placeholder {
    font-family: $title-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
