.live-example-demonstration {
  margin: 0 auto;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    width: 708px;
    grid-column: 1/3;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
    margin-top: -45px;
  }
}

.live-example-demonstration__img {
  align-items: center;
  height: 220px;
  width: auto;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    height: 520px;
    margin: 0 auto;
    display: block;
  }
}
