.live-example-container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    grid-template-rows: 90px 308px 132px 20px;
    grid-column-gap: 50px;
  }
}
