.main-nav {
  font-family: "Oswald", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $special-grey-border;
  display: flex;
  justify-content: center;

  &:first-child {
    border-top: 1px solid $special-grey-border;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &:last-child {
    @media (max-width: $mobile-only) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 17px;
    padding-bottom: 5px;

    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.main-nav__item--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }
}

.page-index .main-nav__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;
  }
}

.main-nav__item-link {
  text-decoration: none;
  color: $black;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-index .main-nav__item-link {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}
