.nav-toggle {
  border: none;
  background: url("../../img/nav-toggle.svg") no-repeat center center;
  width: 24px;
  height: 20px;
  transform: rotate(0deg);
  transition-duration: 0.1s;
  display: none;

  @media (max-width: $mobile-only) {
    display: block;
  }
}

.nav-toggle__open {
  background: url("../../img/nav-toggle-cross.svg") no-repeat center center;
  transform: rotate(90deg);
  transition-duration: 0.1s;
}
