.page-footer {
  background-color: $basic-grey;
}

.page-footer__top {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__container {
  max-width: 1440px;

  margin: 0 auto;

  @media (max-width: $mobile-only) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-footer__logo {
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
