.page-header {
  border-bottom: 1px solid $special-grey-border;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 53px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.page-header__logo-img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  :active {
    opacity: 0.8;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  &:active {
    opacity: 0.6;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.page-header__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header-logo-container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    margin-right: auto;
  }
}
