.page-footer-bottom {
  width: 100%;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px 61px 30px;
    margin-top: -8px;
    align-items: center;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 61px 0;
  }
}

.page-footer__logo {
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 162px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer-bottom .container {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}
