.page-footer-logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 32px;
  background-color: $basic-grey;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    padding: 0;
    padding-left: 30px;
    margin: 0;
  }
}
