.page-header {
  border-bottom: 1px solid $special-grey-border;

  @media (min-width: $tablet-width) {
    border-bottom: none;

    .page-header__logo-img {
      background: url("../../img/logo/logo-tablet.svg") no-repeat center center;
      width: 0;
      height: 0;
      padding: 26px 87px 26px 87px;
    }

    .page-header__logo-text {
      display: none;
    }
  }
}
