.product-card-last-child__link {
  text-decoration: none;
}

.product-card-last-child__link-title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url("../img/plus.svg") no-repeat center center;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      background: url("../../img/plus.svg") no-repeat center center;
      background-size: cover;
      margin-bottom: 49px;
      margin-top: 46px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 22px;
    width: 134px;
  }
}

.product-card-last-child__description-line {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 85px;
    border-bottom: none;
    width: 167px;
    line-height: 18px;
  }
}

.product-card-last-child__button {
  color: $special-dark-grey;
  background-color: $basic-grey;
  margin-bottom: 25px;
  cursor: pointer;

  &:hover {
    background-color: $special-grey-2;
  }

  &:focus {
    background-color: $special-grey-2;
  }

  &:active {
    color: $special-dark-grey-active;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 38px;
    width: 250px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-card-additional .product-card-description {
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.product-card-additional .product-card-description-line {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.product-card-additional .product-card-description-line__element:nth-child(2) {
  margin-left: 50px;

  @media (min-width: $desktop-width) {
    margin-right: 21px;
  }
}

.product-card-additional .product-card-description-line__element:nth-child(1) {
  @media (min-width: $desktop-width) {
    margin-left: -18px;
  }
}
