.product-card-description-line {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
