.product-card-additional {
  border-top: 1px solid $special-grey;
  padding-bottom: 16px;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $special-grey;
    border-bottom: none;
    padding: 23px 38px 0 38px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 21px;
    padding-bottom: 16px;
  }
}

.product-card-additional .product-card__title {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 161px;
    margin: 0;
    text-align: left;
    margin-right: 163px;
  }
}

.product-card-additional__button {
  padding-top: 12px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 28px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
