.product-card-description {
  margin-top: 13px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 0;
  }
}

.product-card-description-line {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid $special-grey;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.product-card-description-last-child .product-card-description-line {
  margin-top: 10px;
  margin-bottom: 18px;
}

.product-card-additional .product-card-description {
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.product-card-additional .product-card-description-line {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.product-card-additional .product-card-description-line__element:nth-child(2) {
  margin-left: 50px;

  @media (min-width: $desktop-width) {
    margin-right: 21px;
  }
}

.product-card-additional .product-card-description-line__element:nth-child(1) {
  @media (min-width: $desktop-width) {
    margin-left: -18px;
  }
}
