.social-block {
  @media (min-width: $tablet-width) {
    min-width: 130px;
  }
}

.social-list {
  margin: 0;
  padding: 20px 65px;
  list-style: none;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social-list__item-link {
  font-size: 0;
  display: block;
  width: 23px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 33px;
    height: 33px;
  }
}

.social-list__item:nth-child(1) .social-list__item-link {
  background: url("../img/social-vk.svg") no-repeat center center;

  @media (min-width: $tablet-width) {
    background-size: 30px 22px;
  }
}

.social-list__item:nth-child(2) .social-list__item-link {
  background: url("../img/social-instagram.svg") no-repeat center center;

  @media (min-width: $tablet-width) {
    background-size: 23px 23px;
  }
}

.social-list__item:nth-child(3) .social-list__item-link {
  background: url("../img/social-facebook.svg") no-repeat center center;

  @media (min-width: $tablet-width) {
    background-size: 28px 33px;
  }
}
