.social-block {
  @media (min-width: $tablet-width) {
    min-width: 130px;
  }
}

.social-list {
  margin: 0;
  padding: 20px 65px;
  list-style: none;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social-list__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list__item-link {
  font-size: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 33px;
    height: 33px;
  }
}

.social-list__item:nth-child(1) svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-list__item:nth-child(1):hover path {
  @media (min-width: $tablet-width) {
    fill: $basic-green;
  }
}

.social-list__item:nth-child(2) svg {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-list__item:nth-child(2):hover path {
  @media (min-width: $tablet-width) {
    fill: $basic-green;
  }
}

.social-list__item:nth-child(3) svg {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.social-list__item:nth-child(3):hover path {
  @media (min-width: $tablet-width) {
    stroke: $basic-green;
  }
}

.social-list__item-link:not(.social-fb-link):focus path {
  fill: $basic-green;
}

.social-fb-link:focus path {
  stroke: $basic-green;
}

.social-list__item-link:active path {
  opacity: 0.3;
}
